body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.output {
    width: 240px;
    height: 50px;
    background-color:gainsboro;
}

.inputs {
    display: flex;
    max-width: 240px;
    max-height:fit-content;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    gap: 26px;
}

#a {
    width: 104px;
}

.row button {
    width: 50px;
    height: 40px;
    text-align: center;
}

.row {
    height: fit-content;
}

.operations button {
    width: 40px;
    height: 40px;
}

.operations {
    display: flex;
    flex-direction: column;
    gap: 10px;
}