body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs {
    display: flex;
    max-width: 120px;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}

.operations {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#a {
    width: 54px;
}

.row button {
    width: 25px;
    height: 20px;
}

.row {
    height: fit-content;
}

